# Compiled binaries
*.out
*.bin
*.exe
*.elf
tests/*.bin
csidh/*.bin
csidh/*.exe
# Object files
*.o
*.obj
*.ko
*.so
*.dSYM
*.testrandom
# Assembly listing files
*.lst
high-ctidh-20210523/testrandom
# Map files
*.map

# Archives
*.lib
*.a

# Shared objects
*.dll
*.so
*.dylib

# Dependency files
*.dep
*.d

# Temporary files created by editors
*~
*.swp
*.swo

# Backup files
*.bak
*.old
*.sik

# IDE/Editor folders
.vscode/
.idea/

# Other
*.log
*.tmp

# Build folders
Debug/
Release/
build/
dist/
obj/
