# Compiled binaries
high-ctidh-20210523/bench1024untuned
high-ctidh-20210523/checkct1024untuned
high-ctidh-20210523/costpoly1024
high-ctidh-20210523/test1024
high-ctidh-20210523/bench1024mults
high-ctidh-20210523/checkct1024mults
high-ctidh-20210523/tunemults1024
high-ctidh-20210523/tunecycles1024
high-ctidh-20210523/steps_tunemults1024.c
high-ctidh-20210523/steps_tunecycles1024.c
*.out
*.bin
*.exe
*.elf
tests/*.bin
csidh/*.bin
csidh/*.exe
csidh/bench_muls
high-ctidh-20210523/bench512custom
high-ctidh-20210523/costpoly512
csidh/main
csidh/tests/test_uint1024
csidh/tests/test_fp1024
# Object files
*.o
*.obj
*.ko
*.so
*.dSYM
*.testrandom
# Assembly listing files
*.lst
high-ctidh-20210523/testrandom
testing/tests/test_mul_vec
csidh/bench
csidh/bench_cycles
csidh/bench_pipeline
*/tests/test_uintbig
*/tests/test_fp
# Map files
*.map
high-ctidh-20210523/bench512cycles
*/test512
*/tunecycles512
*/tunemults512
*/ubench512
*/umults512
*/bench512cycles
*/bench512mults
*/bench512untuned
*/checkct512cycles
*/checkct512mults
*/checkct512untuned
# Archives
*.lib
*.a

# Shared objects
*.dll
*.so
*.dylib

# Dependency files
*.dep
*.d

# Temporary files created by editors
*~
*.swp
*.swo

# Backup files
*.bak
*.old
*.sik

# IDE/Editor folders
.vscode/
.idea/

# Other
*.log
*.tmp

# Build folders
Debug/
Release/
build/
dist/
obj/
